body{
    margin:0;
    padding:0;
}
.header{
    width: 100%;
    margin:0 auto;
}
.conteiner,
.container-header{
    width: 1063px;
    margin: 0 auto;
}
.container-header{
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 119px;
}
nav ul li{
    display: inline-block;
    margin-right: 119px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
}
nav ul li:last-child{
    margin-right: 0;
}
.post,
.post-fotodiary{
    width: 901px;
    margin: 0 auto;
    padding-top: 126px;
}
.post-fotodiary a{
    font-family: 'Myriad Pro', Arial;
    font-size: 14px;
    text-transform: uppercase;
    outline-style: none;
    text-decoration: none;
    color: #b4ad9e;
}
.post-fotodiary a:hover{
    cursor: hand;
}
.post-fotodiary  h2{
    font-family: 'Playfair Display',serif;
    font-size: 31px;
    padding-top: 37px;
    padding-bottom: 20px;
}
.post-fotodiary p{
    line-height: 24px;
    font-family: 'Playfair Display',serif;
    font-size: 14px;
    margin-bottom: 37px;
}
.post{
    display: flex;
    justify-content: space-between;
}
.post ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.post li{
    list-style-type: none;
    margin-right: 58px;
}
.post li:last-child {
    margin-right: 0;
}
.lifestyle a{
    color: #b4ad9e;
    text-decoration: none;
    font-family: 'Myriad Pro', Arial;
    font-size: 14px;
    text-transform: uppercase;
}
.lifestyle h2  {
    font-family: 'Playfair Display',serif;
    font-size: 29px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.lifestyle p{
    font-family: 'Playfair Display',serif;
    font-size: 14px;
    color: #626262;
    width: 419px;
    text-align: justify;
    padding-top: 20px;
}
.conteiner-newsletter{
    width: 100%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding-bottom: 76px;
    padding-top: 76px;
}
.conteiner-newsletter h2 {
    padding-bottom: 78px;
    text-align: center;
    font-size: 30px;
    font-family: 'Playfair Display',serif;
}
.indentation{
    padding-bottom: 80px;
}
.letter{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 399px;
    border-bottom: 1px solid black;
}
.letter input[type="email"]{
    padding-left: 5px;
    border: none;
    background-color: #f0f0f0;
    width: 397px;
    height: 54px;
    font-size: 14px;
    font-family: 'Playfair Display',serif;
    outline: 0;
}
.letter button{
    width: 32px;
    height: 20px;
	background-image: url(../image/button.png);
	background-repeat: no-repeat;
	border: none;
	background-color: #f0f0f0;
    outline: 0;
}
#load{
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 164px;
    height: 60px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 168px;
    font-size: 20px;
    font-family: 'Playfair Display',serif;
}
#load:hover{
    background-color: #626262;
    color: white;
}
.footer{
    background-color: #f0f0f0;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 901px;
	min-height:97px;
    margin: 0 auto;
   
}
.conreiner-footer span,
p{
    font-size: 14px;
    font-family: 'Playfair Display',serif;
    color: black;
}
.container-footer span{
    margin-left: 15px;
}
.social-list li{
    margin-right: 15px;
    display: inline-block;
}
.social{
    width: 15px;
    height: 15px;
}



